aiohttp==3.8.5
fastapi==0.103.1
httpx==0.24.1
markdown2==2.4.10
nh3==0.2.14
numpy
prompt-toolkit==3.0.39
pydantic==1.10.12
requests==2.31.0
rich==13.5.2
shortuuid==1.0.11
tiktoken==0.4.0
uvicorn==0.23.2
