aiohttp==3.8.5
fastapi==0.103.1
httpx==0.24.1
markdown2==2.4.10
nh3==0.2.14
numpy==1.25.2
prompt-toolkit==3.0.39
pydantic==1.10.12
requests==2.31.0
rich==13.5.2
shortuuid==1.0.11
tiktoken==0.4.0
uvicorn==0.23.2
accelerate==0.22.0
peft==0.5.0
sentencepiece==0.1.99
torch==2.0.1
transformers==4.31.0
protobuf==4.24.3
openai==0.28.0
anthropic==0.3.11